<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/extra.css">

    <title>Discogs Sorter</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  </head>
  <body class="bg-light">
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <h2>Discogs Sorter</h2>
                <p class="lead">Input your username to to receive a sorted lists of your releases. If you're collection is private, or you want to use the extra sort fields you should also input your private acces token.</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <form action="/" method="get">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="user">Username:</label>
                            <input type="text" class="form-control" id="user" name="user" value="{% if user %}{{ user }}{% endif %}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="user_token">User Token:</label>
                            <input type="text" class="form-control" id="user_token" name="user_token"value="{% if user_token %}{{ user_token }}{% endif %}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2 offset-md-6 d-grid gap-2">
                            <input type="submit" name="type" value="HTML" class="btn btn-primary btn-block">
                        </div>
                        <div class="col-md-2 d-grid gap-2">
                            <input type="submit" name="type" value="CSV" class="btn btn-primary btn-block">
                        </div>
                        <div class="col-md-2 d-grid gap-2">
                            <input type="submit" formtarget="_blank" name="type" value="Discogs" class="btn btn-secondary btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if type %}
        <div class="row mt-3">
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-2">
                <div class="col-md-12 form-check form-switch">
                    <input class="form-check-input all_switch" type="checkbox" id="all_folder" checked>
                    <label class="form-check-label h4" for="all_folder">Folders:</label>
                </div>
                {% for rel_folder in releases_folders %}
                <div class="form-check form-switch">
                    <input class="form-check-input rel_switch" type="checkbox" id="folder_{{rel_folder}}" checked>
                    <label class="form-check-label" for="folder_{{rel_folder}}">{{rel_folder}}</label>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-2">
                <div class="col-md-12 form-check form-switch">
                    <input class="form-check-input all_switch" type="checkbox" id="all_format" checked>
                    <label class="form-check-label h4" for="all_format">Formats:</label>
                </div>
                {% for rel_format in releases_formats %}
                <div class="form-check form-switch">
                    <input class="form-check-input rel_switch" type="checkbox" id="format_{{rel_format | replace('\"', 'INCH') }}" checked>
                    <label class="form-check-label" for="format_{{rel_format | replace('\"', 'INCH') }}">{{rel_format}}</label>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-2">
                <div class="col-md-12 form-check form-switch">
                    <input class="form-check-input all_switch" type="checkbox" id="all_type" checked>
                    <label class="form-check-label h4" for="all_type">Types:</label>
                </div>
                {% for rel_type in releases_types %}
                <div class="form-check form-switch">
                    <input class="form-check-input rel_switch" type="checkbox" id="type_{{rel_type}}" checked>
                    <label class="form-check-label" for="type_{{rel_type}}">{{rel_type}}</label>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6 row">
                <div class="col-md-12 form-check form-switch">
                    <input class="form-check-input all_switch" type="checkbox" id="all_genre" checked>
                    <label class="form-check-label h4" for="all_genre">Genres:</label>
                </div>
                {% for rel_genre in releases_genres %}
                <div class="col-md-6 form-check form-switch">
                    <input class="form-check-input rel_switch" type="checkbox" id="genre_{{rel_genre}}" checked>
                    <label class="form-check-label" for="genre_{{rel_genre}}">{{rel_genre}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="row mt-3">
            <div id="releases" class="col-12">
                <table id="releases" class="table table-striped table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="folder">folder</th>
                            <th scope="col" class="sort" data-sort="size">format</th>
                            <th scope="col" class="sort" data-sort="type">type</th>
                            <th scope="col" class="sort" data-sort="genre">genre</th>
                            <th scope="col" class="sort" data-sort="artist">artist</th>
                            <th scope="col" class="sort" data-sort="title">title</th>
                            <th scope="col" class="sort" data-sort="speed">speed</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for release in releases %}
                        <tr class="{{ release.size_safe }}">
                            <td class="folder">{{ release.folder }}</td>
                            <td class="size">{{ release.size }}</td>
                            <td class="type">{{ release.type }}</td>
                            <td class="genre">{{ release.sort_genre }}</td>
                            <td class="artist">{{ release.artist }}</td>
                            <td class="title">{{ release.title }}</td>
                            <td class="speed">{{ release.speed }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    <div class="container">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>

    <script>
        $(document).ready(function () {
            filterFormat = [];
            filterFolder = [];
            filterType = [];
            filterGenre = [];

            var options = {
                valueNames: ["folder", "size", "type", "genre", "artist", "title", "speed"],
            };

            var releaseList = new List("releases", options);
            releaseList.sort("title");
            releaseList.sort("artist");
            releaseList.sort("genre");

            function filterList() {
                switchType = $(this)[0].id.split("_")[0];
                switchVal = $(this)[0].id.split("_")[1];

                if ($(this)[0].checked) {
                    switch (switchType) {
                        case "format":
                            filterFormat.push(switchVal);
                            break;
                        case "folder":
                            filterFolder.push(switchVal);
                            break;
                        case "type":
                            filterType.push(switchVal);
                            break;
                        case "genre":
                            filterGenre.push(switchVal);
                            break;
                    }
                }
            }

            function filterApply() {
                releaseList.filter(function (item) {
                    return filterFormat.includes(item.values().size.replace('"', "INCH")) && filterFolder.includes(item.values().folder) && filterType.includes(item.values().type) && filterGenre.includes(item.values().genre);
                });
            }

            function filterRun() {
                filterFormat = [];
                filterFolder = [];
                filterType = [];
                filterGenre = [];
                $(".rel_switch").each(filterList);
                filterApply();
            }

            $(".rel_switch").change(filterRun);
            filterRun();

            function selectAll() {
                switchType = $(this)[0].id.split("_")[0];
                switchVal = $(this)[0].id.split("_")[1];
                
                switch (switchVal) {
                    case "folder":
                        $(".rel_switch[id^='folder']").prop("checked", $(this)[0].checked);
                        break;
                    case "format":
                        $(".rel_switch[id^='format']").prop("checked", $(this)[0].checked);
                        break;
                    case "type":
                        $(".rel_switch[id^='type']").prop("checked", $(this)[0].checked);
                        break;
                    case "genre":
                        $(".rel_switch[id^='genre']").prop("checked", $(this)[0].checked);
                        break;
                }
                filterRun()
            }

            $(".all_switch").change(selectAll)
        });
    </script>
  </body>
</html>